<header class="site-header">
  <div class="container">
    <a class="sr-only" href="#main">Skip to main content</a>
    <a class="site-header__masthead" href="/">
      <img src="/assets/images/mhp-logo.png" alt="Manchester Homelessness Partnership logo" class="site-header__logo">
      <h1 class="site-header__masthead-title">Manchester Homelessness Partnership</h1>
    </a>
  </div>

  <nav class="nav" id="desktop">
    <div class="navbar">
      <a class="nav-link" href="/">Home</a>
      <div class="dropdown">
        <button onclick="window.location='/action-groups'" class="dropbtn">Action Groups
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/action-groups/activities-and-wellbeing">Activities and Wellbeing</a>
          <a href="/action-groups/business">Business</a>
          <a href="/action-groups/co-production">Co-production</a>
          <a href="/action-groups/emergency-and-temporary-accommodation">Emergency and Temporary Accommodation</a>
          <a href="/action-groups/employment/">Employment</a>
          <a href="/action-groups/mental-health">Mental Health</a>
          <a href="/action-groups/migration-and-destitution">Migration and Destitution Fund</a>
          <a href="/action-groups/non-uk-nationals">Non-UK Nationals</a>
          <a href="/action-groups/preventing-homelessness">Preventing Homelessness</a>
          <a href="/action-groups/real-change-mcr">Real Change MCR</a>
          <a href="/action-groups/strategy-scrutiny">Strategy Scrutiny</a>
          <a href="/action-groups/womens-homelessness-inclusion">Women's Homelessness</a>
          <a href="/action-groups/young-people">Young People</a>
        </div>
      </div>
      <div class="dropdown">
        <button onclick="window.location='/get-involved'" class="dropbtn">Get Involved
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/how-to-help">How to Help</a>
        </div>
      </div>
      <div class="dropdown">
        <button onclick="window.location='/our-resources'" class="dropbtn">Resources
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/charter">Manchester Homelessness Charter</a>
          <a href="/action-group-resources">Action Group Resources</a>
          <a href="/homelessness-in-manchester">Learn about homelessness in Manchester</a>
          <a href="/guidelines">Guidelines</a>
        </div>
      </div>
      <a class="nav-link" href="https://news.mhp.org.uk/">News</a>
    </div>
  </nav>

  <nav class="nav" id="mobile">
    <a href="#" data-targetnavlist="#main-nav-list" data-targetmaincont="#main" class="js-nav-toggle nav__toggle" aria-label="Toggle Navigation">
      <i class="icon-bar"></i>
      <i class="icon-bar icon-bar-short"></i>
      <i class="icon-bar"></i>
    </a>
    <div class="container">
      <ul id="main-nav-list" class="nav__list">
        
        <li class="nav__item ">
          <a class="nav__link" href="/">
            
            <span>Home</span>
          </a>
        </li>      
        
        <li class="nav__item ">
          <a class="nav__link" href="/action-groups/">
            
            <span>Action Groups</span>
          </a>
        </li>
        
        <li class="nav__item ">
          <a class="nav__link" href="/get-involved/">
            
            <span>Get Involved</span>
          </a>
        </li>
        
        <li class="nav__item ">
          <a class="nav__link" href="/how-to-help/">
            
            <span>How to Help</span>
          </a>
        </li>

        <li class="nav__item ">
          <a class="nav__link" href="/our-resources/">
            
            <span>Resources</span>
          </a>
        </li>
        <li class="nav__item ">
          <a class="nav__link" href="https://news.mhp.org.uk/">
            
            <span>News</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>