<!doctype html>
<html class="no-js single" lang="en-GB" xmlns:fb="http://ogp.me/ns/fb#">
{{- partial "head.html" . -}}

<body>
  {{- partial "header.html" . -}}
  <main id="main" class="main">
    <section class="block">
        <div 
          {{ if (eq .Params.content.image nil) }} class="block__image block__image--bg block__image--bg-missing-image"
          {{ else }} class="block__image block__image--bg" {{ end }}
          {{ if (ne .Params.content.image nil) }} style="background-image: url({{ .Params.content.image }})" {{ end }}
        >
          <div class="container">
            <header class="block__header">
              <h1 class="block__header-title">{{ .Params.content.heading }} Action Group</h1>
              {{ if (ne .Params.content.subHeading nil) }}
              <p class="block__header-sub-title">{{ .Params.content.subHeading }}</p>
              {{ end }}
            </header>
          </div>
        </div>
        <div class="container">
          <div class="block__body block__body--drop-shadow">
              {{ partial "bodyMarkdown.html" .Params.content.body }}

              <p><a href="mailto: {{ .Params.content.newsUrl }}">Read the latest news</a> from this Action Group.</p>

              <p>To get involved with this action group, please email: <a href="mailto: {{ .Params.content.contactEmail }}">{{ .Params.content.contactEmail }}</a>:</p>
              
              <a class="btn btn--mhp-yellow"
                href="mailto: {{ .Params.content.contactEmail }}" target="_blank">Get involved</a>
          </div>
        </div>
    </section>
  </main>
  {{ $footer := .Site.GetPage "_footer.md" }}
  {{ partial "footer.html" (dict "footer" $footer) }}

  {{ $script := .Site.Data.webpack.main }}
  {{ with $script.js }}
  <script src="{{ relURL . }}"></script>
  {{ end }}
</body>

</html>
