<!doctype html>
<html class="no-js single" lang="en-GB" xmlns:fb="http://ogp.me/ns/fb#">
{{- partial "head.html" . -}}

<body>
  {{- partial "header.html" . -}}
  <main id="main" class="main">
    <section class="block">
        <div 
          {{ if (eq .Params.content.image nil) }} class="block__image block__image--bg block__image--bg-missing-image"
          {{ else }} class="block__image block__image--bg" {{ end }}
          {{ if (ne .Params.content.image nil) }} style="background-image: url({{ .Params.content.image }})" {{ end }}
        >
          <div class="container">
            <header class="block__header">
              <h1 class="block__header-title">{{ .Params.content.heading }} Action Group</h1>
              {{ if (ne .Params.content.subHeading nil) }}
              <p class="block__header-sub-title">{{ .Params.content.subHeading }}</p>
              {{ end }}
            </header>
          </div>
        </div>
        <div class="container">
          <div class="block__body block__body--drop-shadow">
              {{ partial "bodyMarkdown.html" .Params.content.body }}

              <p><a href="{{ .Params.content.newsUrl }}">Read the latest news</a> from this Action Group.</p>

              <p>To get involved with this action group, click the link below and fill in the sign-up form. If you have any other questions or queries, please email: <a href="mailto:info@mhp.org.uk">{{ .Params.content.contactEmail }}</a>.</p>
              
              <a class="btn btn--mhp-yellow"
                href="{{ .Params.content.signupLink }}" target="_blank">Sign up to this action group</a>
          </div>
        </div>

        <div class="container">
          <div class="block__body">
            <div id="posts-container" class="ctas">
            </div>
            <div class="btn-wrapper">
              <a id="all-posts-btn" class="btn btn--mhp-yellow">View All</a>
            </div>
          </div>
        </div>
    </section>
    <div id="posts-init" data-key="{{ .Params.key }}"></div>
  </main>
  {{ $footer := .Site.GetPage "_footer.md" }}
  {{ partial "footer.html" (dict "footer" $footer) }}

  {{ $script := .Site.Data.webpack.main }}
  {{ with $script.js }}
  <script src="{{ relURL . }}"></script>
  {{ end }}
  <script type="text/javascript">
    document.getElementById("posts-init").click();
  </script>
</body>

</html>
