backend:
  name: git-gateway
  branch: master
  site_domain: mhp.netlify.com

media_folder: "site/static/assets/uploads"
public_folder: "assets/uploads"

collections:
  - name: "pages"
    label: "Pages"
    editor:
      preview: false
    files:
      - file: "site/content/_index.md"
        label: "Home"
        name: "home"
        fields:
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Hero", name: "hero", widget: "object", fields: [
              {label: "Image", name: "image", widget: "image"}
            ]}
          - {label: "What Is the MHP?", name: "whatIs", widget: "object", fields: [
              {label: "Heading", name: "heading", widget: "string"},
              {label: "Body", name: "body", widget: "markdown"}
            ]}
          - {label: "Who's Involved?", name: "whosInvolved", widget: "object", fields: [
              {label: "Heading", name: "heading", widget: "string"},
              {label: "Sub-Heading", name: "subHeading", widget: "string"},
              {label: "Body", name: "body", widget: "markdown"}
            ]}
          - {label: "Get Involved", name: "getInvolved", widget: "object", fields: [
              {label: "Heading", name: "heading", widget: "string"},
              {label: "Body", name: "body", widget: "markdown"},
              {label: "Image", name: "image", widget: "image"}
            ]}
          - {label: "How Does it Work?", name: "howDoesItWork", widget: "object", fields: [
              {label: "Heading", name: "heading", widget: "string"},
              {label: "Body", name: "body", widget: "markdown"},
              {label: "Image", name: "image", widget: "image"}
            ]}
          - {label: "Charter", name: "charter", widget: "object", fields: [
              {label: "Heading", name: "heading", widget: "string"},
              {label: "Body", name: "body", widget: "markdown"}
            ]}
          - {label: "Strategy and Context", name: "partnership", widget: "object", fields: [
              {label: "Heading", name: "heading", widget: "string"},
              {label: "Strategy", name: "strategy", widget: "markdown"},
              {label: "Resources", name: "resources", widget: "markdown"},
              {label: "Button Text", name: "buttonText", widget: "string"},
              {label: "Button Link", name: "buttonUrl", widget: "string"}
            ]}
          - {label: "What Else is Happening?", name: "whatElse", widget: "object", fields: [
              {label: "Heading", name: "heading", widget: "string"},
              {label: "Body", name: "body", widget: "markdown"}
            ]}
      - file: "site/content/contact-us/_index.md"
        label: "Contact"
        name: "contact"
        fields:
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Template", name: "layout", widget: "hidden", default: "single"}
          - {label: "Content", name: "content", widget: "object", fields: [
              {label: "Image", name: "image", widget: "image", required: false},
              {label: "Heading", name: "heading", widget: "string"},
              {label: "Sub-Heading", name: "subHeading", widget: "string", required: false},
              {label: "Body", name: "body", widget: "markdown"}
            ]}
      - file: "site/content/homelessness-strategy/_index.md"
        label: "Homelessness Strategy"
        name: "homelessness-strategy"
        fields:
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Hero", name: "hero", widget: "object", fields: [
              {label: "Image", name: "image", widget: "image"}
            ]}
          - {label: "About", name: "about", widget: "object", fields: [
            {label: "Heading", name: "heading", widget: "string" },
            {label: "Body", name: "body", widget: "markdown" },
          ]}
          - {label: "Action Plans", name: "actionPlans", widget: "object", fields: [
            {label: "Heading", name: "heading", widget: "string" },
            {label: "Body", name: "body", widget: "markdown" },
          ]}
          - {label: "Strategy Call To Action", name: "strategyCta", widget: "object", fields: [
            {label: "Title", name: "title", widget: "string"},
            {label: "Url", name: "url", widget: "string"}
          ]}
      - file: "site/content/homelessness-in-manchester/_index.md"
        label: "Homelessness in Manchester"
        name: "homelessness-in-manchester"
        fields:
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Hero", name: "hero", widget: "object", fields: [
              {label: "Image", name: "image", widget: "image"}
            ]}
          - {label: "About", name: "about", widget: "object", fields: [
            {label: "Heading", name: "heading", widget: "string" },
            {label: "Body", name: "body", widget: "markdown" },
          ]}
          - {label: "How to Help", name: "howToHelp", widget: "object", fields: [
            {label: "Heading", name: "heading", widget: "string" },
            {label: "Body", name: "body", widget: "markdown" },
          ]}
  - name: "action-groups"
    label: "Action Groups"
    editor:
      preview: false
    folder: "site/content/action-groups"
    create: false
    filter: {field: "action-group", value: "yes"}
    fields:
      - {label: "Action Group", name: "action-group", widget: "hidden", default: "yes"}
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Content", name: "content", widget: "object", fields: [
          {label: "Heading", name: "heading", widget: "string"},
          {label: "Sub-Heading", name: "subHeading", widget: "string"},
          {label: "Body", name: "body", widget: "markdown"},
          {label: "Contact Email Address", name: "contactEmail", widget: "string"},
          {label: "News Url", name: "newsUrl", widget: "string"}
        ]}
      - file: "site/content/action-groups/_index.md"
        label: "Action Groups Page"
        name: "action-groups"
        fields:
          - {label: "What is an action group?", name: "whatIs", widget: "object", fields: [
              {label: "Heading", name: "heading", widget: "string"},
              {label: "Body", name: "body", widget: "markdown"}
            ]}
