#posts-init {
    display: none;
  }
  
  #posts-container.ctas .cta .h2 {
    font-size: 22px;
  }

  @include mq($from: desktop) {
    #posts-container.ctas .cta .h2 {
        font-size: 24px;
      }
  }
  
  .btn-wrapper {
    display: block;
    text-align: center;
    padding: 20px;
  }
  
  #all-posts-btn {
    display: none;
    width: 100px;
  }