{{ define "main" }}

<section class="home-hero" style="background-image: url({{ .Params.hero.image }});">
  <div class="container">
    <img class="home-hero__logo" src="/assets/images/mhp-logo.png" width="142" height="157"
      alt="Manchester Homelessness Partnership logo" />
    <div class="home-hero__text">
      <h1 class="home-hero__title">
        <span class="home-hero__title-first">Manchester</span>
        <span class="home-hero__title-second">Homelessness Partnership</span>
      </h1>
      <p class="home-hero__strap">Co-producing solutions to end homelessness</p>
    </div>
  </div>
</section>

<section class="block">
  <div class="container">
    <header class="block__header">
      <h1 class="block__header-title">{{ .Params.whatIs.heading }}</h1>
      {{ if (ne .Params.whatIs.subHeading nil) }}
      <p class="block__header-sub-title">{{ .Params.whatIs.subHeading }}</p>
      {{ end }}
    </header>
    <div class="block__body">
      {{ partial "bodyMarkdown.html" .Params.whatIs.body }}
    </div>
  </div>
</section>

<section class="block block--plain block--left-image block--white block--image-last">
  <div class="block__image">
    <img src="/assets/images/how-it-works.png" alt="how it works image" class="block__image-image block__image-image--bordered">
  </div>
  <div class="container">
    <header class="block__header">
      <h1 class="block__header-title">{{ .Params.howDoesItWork.heading }}</h1>
      {{ if (ne .Params.howDoesItWork.subHeading nil) }}
      <p class="block__header-sub-title">{{ .Params.howDoesItWork.subHeading }}</p>
      {{ end }}
    </header>
  </div>
    
  <div class="container">
    <div class="block__body">
      {{ partial "bodyMarkdown.html" .Params.howDoesItWork.body }}
    </div>
  </div>
</section>

<section id="whos-involved" class="block">
  <div class="container">
    <header class="block__header">
      <h1 class="block__header-title">{{ .Params.whosInvolved.heading }}</h1>
      {{ if (ne .Params.whosInvolved.subHeading nil) }}
      <p class="block__header-sub-title">{{ .Params.whosInvolved.subHeading }}</p>
      {{ end }}
    </header>
  </div>
  <div class="container">
    <div class="block__body block__body--drop-shadow">
      <div class="logos">
        <a href="https://www.barnabus-manchester.org.uk/" target="_blank"><img class="logo" src="/assets/images/barnabus-logo.jpg" alt="barnabus logo"></a>
        <a href="https://www.boothcentre.org.uk/" target="_blank"><img class="logo" src="/assets/images/booth-centre-logo.jpg" alt="booth centre logo"></a>
        <a href="https://macc.org.uk/home" target="_blank"><img class="logo" src="/assets/images/macc-logo.jpg" alt="macc logo"></a>
        <a href="https://www.manchester.gov.uk/" target="_blank"><img class="logo" src="/assets/images/manchester-city-council-logo.jpg" alt="mcc logo"></a>
        <a href="https://england.shelter.org.uk/" target="_blank"><img class="logo" src="/assets/images/shelter-gm-logo.jpg" alt="shelter logo"></a>
      </div>
      {{ partial "bodyMarkdown.html" .Params.whosInvolved.body }}
    </div>
  </div>
</section>

<section class="block">
  <div class="container">
    <div class="block__header">
      <h1 class="block__header-title">{{ .Params.getInvolved.heading }}</h1>
    </div>
    <div class="block__header-body">
      {{ partial "bodyMarkdown.html" .Params.getInvolved.body }}
      <div>
        <a class="btn btn--mhp-green btn--small"
        href="/get-involved">Get Involved</a>
        <a class="btn btn--mhp-yellow btn--small"
        href="https://mhp.us17.list-manage.com/subscribe?u=8fd6e73ffa2daafb4a46d5eb5&id=5ad4233828">Subscribe to newsletter</a>
        <a href="https://twitter.com/McrHomelessness?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @McrHomelessness</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <br>
        <br>
      </div>
    </div>
  </div>
</section>

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
{{ end }}
